.introCentre img {
    padding-right: 10px;
    width: 50%;
    z-index: 3;
}

.introBtn {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.introCentre {
    margin: auto !important;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 3%!important;
    
}
.home_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    user-select: none;
    translate: 200ms;
  }
@media (max-width:900px) {
    .introCentre {
        flex-direction: column;
    }
    .introBtn {
        margin-top: 20px;
        width: 100%;

    }
    .introCentre img {
        padding-right: 10px;
        width: 100%;
        z-index: 3;
        margin: auto;
        margin-top: 20%;
    }
    
    .introBar p {
        font-size: 2rem;
    }
}
