.body-calcul{
    z-index: 100!important;
    position:absolute;
    transform:translate(13%,20%);
    width: 80%;
    height: 80%;
    overflow: auto;
    margin-bottom: 100px;
    background-color: rgba(107, 106, 106, 0.322);
    border-radius: 12px;
    backdrop-filter: blur(10px);
}
.back-arrow{
    position: absolute;
    z-index: 100!important;
    color: rgba(153, 153, 153, 0.575);
    font-size: 50px;
    top:50%;
    left: 1%;
}
.back-arrow:hover{
    color: rgb(153, 153, 153);
    cursor: pointer;
}

@media print{
    .body-calcul{
        background-color:transparent;
        overflow: visible;
    }
}

.btn{
    background-color: #009997;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius:10px ;
    font-weight: bold;
    font-size: 15px;
    transition: 200ms;
    margin: 5px;
}
.btn:hover{
    background-color: #027472;
}
.btn:disabled{
    background-color: #c0c0c0;
    color: #ebebeb;
}
.autbtn{
    background-color: transparent;
    color: #009997;
    border: 1px solid #009997;
    padding: 10px 20px;
    border-radius:10px ;
    font-weight: bold;
    font-size: 15px;
    transition: 200ms;
    margin: 5px;
    
}
.autbtn:hover{
    color: #027472;
    border: 1px solid #027472;
}

@media (max-width:600px){
    .btn {
    width: 250px;
    margin-top: 30px;
    }
    .groupbtn{
        display: flex;
        flex-direction: column-reverse;
    }
    .body-calcul{
        width: 80%;
        height: 90%;

    }
}