table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th {
  border: 1px solid #a3a3a3;
  text-align: left;
  padding: 5px;
}

td {
  border: 1px solid #a3a3a3;
  text-align: left;
  padding: 5px;
  line-height: 2px;
}

.printable-section {
  overflow-y: auto;
  height: 80%;
  
}
.cout-viewer{
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 20px;
  width: 60%;
  padding: 10px;
  position: relative;
}
.cout-viewer p{
  color: #fff;
  font-weight: bold;
}

@media (max-width:600px) {
  .centerbtn{
    display: flex;
    justify-content: center;
  }
  .cout-viewer{
    width: 85%;
    margin-top: 15%;
  }
  .printable-section{
    transform: scale(0.5);
    width: 200%;
    height: 100%;
    margin-left: -55%;
    margin-top: -45%;
  }
}


@media print {
  .dont-print {
    display: none;
  }

  .printable-section {
    position: absolute;
    top: -80px;
    transform: scale(1);
    left: -80px;
    height: 1100px;
    width: 700px;
    margin-top: -100px;
    padding: 0;
  }
}